In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
%matplotlib inline

In [ ]:
import re

In [ ]:
#oly_medalists = pd.read_excel("../spreadsheets/Olympic_TF_Medalists.xls")

In [ ]:
oly_medalists.head()

Lets make a dataframe for the male medalists

In [ ]:
male_medalists = oly_medalists[oly_medalists.Gender == 'M']

In [ ]:
male_medalists.head()

In [ ]:
male_medalists.Country.value_counts()

Lets make a dataframe of the male medalist by country

In [ ]:
male_medalists_ctry = pd.DataFrame(male_medalists.Country.value_counts().reset_index())

In [ ]:
male_medalists_ctry.head()

In [ ]:
male_medalists_ctry.columns = ['Country', 'Medals']

In [ ]:
male_medalists_ctry.head()

In [ ]:
plt.bar(male_medalists_ctry.Country.nlargest(5), male_medalists_ctry.Medals)
plt.title('Top 5 Male Olympic Track & Field Medals By Country')
plt.xlabel('Counrty')
plt.ylabel('Medals')
plt.show()

Let's make a data frame for the Men's 100M

In [ ]:
mens_100 = male_medalists[male_medalists.Event == '100M Men']

In [ ]:
mens_100.head()

In [ ]:
mens_100.Country.value_counts()

In [ ]:
men100 = pd.DataFrame(men100.Country.value_counts().reset_index())

In [ ]:
men100.head()

In [ ]:
men100.columns = ['Country', 'Medals']

In [ ]:
men100.head()

In [ ]:
plt.bar(men100.Country.nlargest(5), men100.Medals)
plt.title('Top 5 Olympic Track & Field 100M Medalists By Country')
plt.xlabel('Counrty')
plt.ylabel('Medals')
plt.show()

In [ ]:
Let's make a dataframe for the Men's 100 Gold Medalists

In [ ]:
Mens_100G = mens_100[mens_100.Medal == 'G']

In [ ]:
Mens_100G.head()

In [ ]:
Mens_100G.plot.line(x='Year',
                    y="Result",
                    xlabel = 'Year',
                    ylabel = 'Winning',
                    title = 'Winning time for the Mens Olympic 100M',
                    figsize = (10,5),
                    colormap ='viridis',
                    color=['#3B528B'],
                    grid = True,
                    xlim = (0,32),
                    ylim = (0, 110),
                    xticks = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32],
                    yticks = [0,10,20,30,40,50,60,70,80,90,100,110],
                    linewidth=4)
                              
plt.legend(loc = "lower right")

Let's make a dataframe for this to import into excel later

In [ ]:
M100G = pd.DataFrame(Mens_100G)

In [ ]:
M100G.head()

Lets make a dataframe for the female medalists

In [ ]:
female_medalists = oly_medalists[oly_medalists.Gender == 'W']

In [ ]:
female_medalists.head()

In [ ]:
female_medalists.Country.value_counts()

Lets make a dataframe of the female medalist by country

In [ ]:
female_medalists_ctry = pd.DataFrame(female_medalists.Country.value_counts().reset_index())

In [ ]:
female_medalists_ctry.head()

In [ ]:
female_medalists_ctry.columns = ['Country', 'Medals']

In [ ]:
female_medalists_ctry.head()

In [ ]:
plt.bar(female_medalists_ctry.Country.nlargest(5), female_medalists_ctry.Medals)
plt.title('Top 5 Female Olympic Track & Field Medals By Country')
plt.xlabel('Counrty')
plt.ylabel('Medals')
plt.show()

In [ ]:
#xlwriter = pd.ExcelWriter('Medals_By_Gender.xlsx') 
#male_medalists_ctry.to_excel(xlwriter, sheet_name='Male_Medalists')
#men100.to_excel(xlwriter, sheet_name='Male_100M_Medalists')
#M100G.to_excel(xlwriter, sheet_name='Male_100G_Medalists')
#female_medalists_ctry.to_excel(xlwriter, sheet_name='Female_Medalists')
#xlwriter.close()